body {
    background-color: rgb(195, 195, 186); 
    background-image: 
      url('../../images/background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-blend-mode: overlay; 
    padding: 130px;
    font-family: Garamond, serif;

    background-color: rgba(247, 247, 244, 0.7); 
  }
