body {
  /* background-image: url('/images/wall.jpg'); */
    background-size: cover; 
  background-position: center;
  background-repeat: repeat; 
  background-blend-mode: overlay; 
  padding: 130px;
  font-family: "Indie Flower", cursive;
  background-color: rgba(244, 244, 236, 0.7);
}
