body {
  /* background-image: url('/images/wall.jpg'); */
    background-size: cover; 
  background-position: center;
  background-repeat: repeat; 
  background-blend-mode: overlay; 
  padding: 130px;
  font-family: Georgia, serif;
  background-color: rgb(255, 255, 255);
}
