.bg-first-color {
  background-color: #f9ecec; 
}

.bg-second-color {
  background-color: #f0d9da; 
}

.bg-third-color {
  background-color: #c8d9eb; 
}

.bg-fourth-color {
  background-color: #ecf2f9; 
}

.text-first-color {
  color: #f9ecec;
}

.text-second-color {
  color: #473f65;
  font-weight:bolder;
  font-size:x-large;
}

.text-third-color {
  color: #d7d9df;
}

.text-fourth-color {
  color: #52575d;
}

.funky-font {
  font-family: Garamond, serif;
}

.navbar-thick {
  height: 80px;
  padding: 20px 10px;
}

.offcanvas-header {
  padding: 20px;
}

.offcanvas-body {
  font-family: "Indie Flower", cursive;

}

.navbar-toggler {
  border: none;
}

.btn {
  font-family: "Indie Flower", cursive;
}
.navbar-logo {
  height: 40px;
  width: auto; 
  margin-left: 10px; }
