.bg-first-color {
  background-color: #cabfab; 
}

.bg-second-color {
  background-color: #6a0000; 
}

.bg-third-color {
  background-color: #beceb0; 
}

.bg-fourth-color {
  background-color: #52575d; 
}

.text-first-color {
  color: #cabfab;
}

.text-second-color {
  color: #dfd8c8;
}

.text-third-color {
  color: #41444b;
}

.text-fourth-color {
  color: #52575d;
}

.funky-font {
  font-family: Garamond, serif;
}

.navbar-thick {
  height: 80px;
  padding: 20px 10px;
}

.offcanvas-header {
  padding: 20px;
}

.offcanvas-body {
  font-family: 'Comic Sans MS', 'Chalkboard', cursive;
}

.navbar-toggler {
  border: none;
}

.btn {
  font-family: 'Comic Sans MS', 'Chalkboard', cursive;
}
